#experiences-body {
  background-color: black;
  width: 100%;
  height:100%;
}

#experiences-button-container {
  position: relative; /* Added positioning for button container */
}

#experiences-button-container button {
  display: block;
  padding: 1% 3%; /* Adjusted padding proportionally */
  text-decoration: none;
  font-weight: bold;
  color: white;
  background-color: transparent;
  border-right: 0px solid transparent;
  border-color: transparent;
  position: relative; /* Ensure proper positioning */
  font-size: x-large;
  transform: translateX(-20%);
  transform: translateY(200%);
}

.post-content {
  color: white;
  width: 90%; /* Adjusted width to ensure text fits on the page */
  max-width: 800px; /* Added maximum width to limit text expansion on larger screens */
  margin: 0 auto; /* Center the text horizontally */
  transform: translateY(1%);
  padding: 20px; /* Added padding for better readability and spacing */
  box-sizing: border-box; /* Ensure padding is included in width calculation */
  font-size: large;
  line-height: 170%;
}

a {
  color: aquamarine;
}

a:hover {
  color: blue;
}

h3 {
    color: white;
    font-weight: bolder;
    line-height: 200%;
}

#experiences-footer-note-1 {
  color: white;
  position: relative;
  left: 1%; /* Adjusted padding-right to right */
  bottom: 1%; /* Adjusted padding-top to bottom */
  font-size: medium;
}
